* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --primary-color: rgb(45, 183, 204);
    --secondary-color: rgb(45, 60, 65);
}

nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}